<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <meta charset="utf-8">    
		    <link rel="stylesheet" href="/css/Contact.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/popup.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap" rel="stylesheet">

        
    </head>

    <body>

      <%- include("layout/navbar",{username:user_name,result : 1}) %>
      <%- include("layout/uploadpost",{profilename:user_name,profilepic: profilepic}) %>
        
        <section id="content1">
            <div class = "wrapper">
              <img class="img1" src="/images/otherassets/camera.png" alt="ok">
              <div class="aboutus"><h1>About US</h1></div>
              <div class="back1">
                  <h3> <b>Welcome to our FotoFlask website! We are thrilled to have you here.</b> </h3>
                  <p class="para1">
                      Our website is designed to make it easy for you to upload and share your photos with the world. We understand that your photos are precious memories, and we want to provide you with a safe and reliable platform to store and share them.
                  </p>
                  <p class="para2">
                  Whether you're a professional photographer, a hobbyist, or just someone who loves taking pictures, our website is the perfect place to showcase your talent and creativity. With our easy-to-use interface, you can quickly and easily upload your photos, organize them into albums, and share them with your friends, family, and followers.
                  </p>
                </div>
            </div>
        </section>

        <section id="Developers">
            <h1 class="Dev">Developers</h1>
            <%- include( "layout/Developers.ejs" ) %>
        </section>


        <footer id="footer">
            <%- include( "layout/Footer.ejs" ) %>
          <h5>© Copyright 2023 FotoFlask</h5>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/5e315e4af1.js" crossorigin="anonymous"></script>
         <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        <script src="/js/Contact.js"></script>
        <script src="/js/popup.js"></script>

    </body>
</html>