<!DOCTYPE html>
<html>

<head>
    <title>Future</title>
    <link rel="stylesheet" href="css/Future.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<html>

<body>
    <header class="navbar">
        <nav>
            <div class="logo">
                <img src="images/otherassets/logo.png" alt="ok">
            </div>
            <ul class="list-item">
                <li><a href="#">Home</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">About us</a></li>
            </ul>
        </nav>
    </header>
    <section id="Content">
        <h1 class="title"><b>Stay Tuned
            </b></h1>
        <div class="image-container">
            <img src="images/otherassets/future.png" alt="ok" id="main-image">
        </div>
        <nav class="navbar2">
            <ul class="list-item2">
                <li><a href="/Users">Users <span class="underline"></span></a></li>
      <li><a href="/Ourteam">Our Team <span class="underline"></span></a></li>
      <li><a href="/Future">Future <span class="underline"></span></a></li>
      <li><a href="/aboutfotoflask">About US <span class="underline"></span></a></li>
            </ul>

        </nav>
    </section>

    <section id="future1">

        <div class="fut">
            <h1>Upcoming Developments</h1>
            <p>
                We are thrilled to announce that our website is going to be packed with new and amazing features that
                will take your experience to the next level. We have listened to your feedback and worked hard to create
                a feature set that will cater to all your needs.</p>
        </div>
    </section>

    <section id="future">
        <div class="slider-container">
            <div class="left-slide">
                <div style="background-color: #000000">
                    <h1>Buy</h1>
                    <p>Finally, we will be launching a new feature that will allow users to buy and sell images/otherassets directly
                        on our platform. This will provide photographers with a new avenue to monetize their work and
                        will enable users to find high-quality images/otherassets for their projects.</p>
                </div>
                <div style="background-color: #000000">
                    <h1>Locations</h1>
                    <p>In addition, we will be adding location tagging to our platform, which will enable you to tag
                        your images/otherassets with the location where they were taken. This feature will make it easier for others
                        to discover images/otherassets that were taken in a particular location, and will also make it easier for
                        you to search for images/otherassets taken in a specific area.</p>
                </div>

                <div style="background-color: #000000">
                    <h1>Effects</h1>
                    <p>Another exciting feature that we will be launching soon is image effects. This feature will allow
                        you to add filters and effects to your images/otherassets, enhancing their visual appeal and making them
                        stand out. Whether you're a professional photographer or just enjoy taking photos for fun, our
                        image effects feature will allow you to take your images/otherassets to the next level.</p>
                </div>
                <div style="background-color: #000000">
                    <h1>Live</h1>
                    <p>We are also excited to introduce video and audio calls, which will provide you with a new level
                        of communication. With this feature, you can connect with other users face-to-face, collaborate
                        on projects, and share feedback in real-time. This will help you to build stronger relationships
                        with other users and collaborate more effectively.
                </div>
                <div style="background-color: #000000">
                    <h1>Connect</h1>
                    <p>we will be introducing chat functionality that will allow you to connect with other users in
                        real-time. This feature will enable you to communicate with others on the platform and share
                        ideas, thoughts, and opinions. Whether you're looking to connect with other creatives or just
                        want to chat with like-minded people, our chat feature will make it easier than ever.</p>
                </div>

            </div>
            <div class="right-slide">
                <div style="background-image: url('images/otherassets/chat.png')"></div>
                <div style="background-image: url('images/otherassets/call.jpg')"></div>
                <div style="background-image: url('images/otherassets/effect.png')"></div>
                <div style="background-image: url('images/otherassets/loc.png')"></div>
                <div style="background-image: url('images/otherassets/buy.png')"></div>
            </div>
            <div class="action-buttons">
                <button class="down-button">
                    <i class="fa fa-arrow-down"></i>
                </button>
                <button class="up-button">
                    <i class="fa fa-arrow-up"></i>
                </button>
            </div>
        </div>

    </section>


    <section id="Content2">
        <div class="image-container2">
            <img src="images/otherassets/future.png" alt="ok" id="main-image2">
        </div>
        <nav class="navbar3">
            <ul class="list-item3">
                <li><a id="list-item-3-1" href="#">About US <span class="underline"></span></a></li>
                <li><a id="list-item-3-2" href="#">Our Team <span class="underline"></span></a></li>
                <li><a id="list-item-3-3" href="#">Users <span class="underline"></span></a></li>
                <li><a id="list-item-3-4" href="#">Future <span class="underline"></span></a></li>

            </ul>
        </nav>
    </section>
    <footer>
        <div class="logo2">
            <img src="images/otherassets/logo.png" alt="ok">
            <p class="para7">Click the nature and explore with us</p>
        </div>
        <div>
            <ul class="footer-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
            <div class="addr">
                <h3>Contact Us</h3>
                <ul>
                    <li><i class="fa fa-map-marker"></i> Sri City,Chittore</li>
                    <li><i class="fa fa-phone"></i> 9708765423</li>
                    <li><i class="fa fa-envelope"></i> info@myphotographywebsite.com</li>
                </ul>
            </div>
        </div>
        <p class="para8">&copy; 2023 My Photography Website</p>
    </footer>
    <script src="js/Future.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
</body>

</html>