<!DOCTYPE html>
<html>

<head>
    <title>Our Team</title>
    <link rel="stylesheet" href="css/Ourteam.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="navbar">
        <nav>
            <div class="logo">
                <img src="images/otherassets/logo.png" alt="ok">
            </div>
            <ul class="list-item">
                <li><a href="#">Home</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">About us</a></li>
            </ul>
        </nav>
    </header>
    <section id="Content">
        <h1 class="title"><b>Let's get together
            </b></h1>
        <div class="image-container">
            <img src="images/otherassets/team.png" alt="ok">
        </div>
        <nav class="navbar2">
            <ul class="list-item2">
                <li><a href="/Users">Users <span class="underline"></span></a></li>
      <li><a href="/Ourteam">Our Team <span class="underline"></span></a></li>
      <li><a href="/Future">Future <span class="underline"></span></a></li>
      <li><a href="/aboutfotoflask">About US <span class="underline"></span></a></li>
            </ul>

        </nav>
    </section>

    <section id="developers">
        <div class="box">
            <div class="dev1">
                <div class="ph1">
                    <img class="pooja" src="images/otherassets/poojyantth.png" alt="ok">
                    <div class="per1">
                        <h1 class="p1"> <b>M.Poojyanth Reddy</b> </h1>
                        <h6>IIIT SRI CITY SOMOPHORE</h6>
                    </div>
                </div>
                <div class="para1">
                    <p>
                        <b><i>Previous Projects :</i> </b> RYTCROP : This project is done in JAVA. This helps the
                        farmers to
                        know suitable crop for their land by providing us some details like soil, rainfall etc.
                        <br>
                        <b>Current Projects :</b>
                        Team Lead(Fotoflask) : This is a photographers website where they can upload photos and have
                        many
                        other
                        features.
                    </p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="dev1">
                <div class="para1">
                    <p>
                        <b><i>Previous Projects :</i> </b> RYTCROP : This project is done in JAVA. This helps the
                        farmers to
                        know suitable crop for their land by providing us some details like soil, rainfall etc.
                        <br>
                        <b>Current Projects :</b>
                        Team Lead(Fotoflask) : This is a photographers website where they can upload photos and have
                        many
                        other
                        features.
                    </p>
                </div>
                <div class="ph1">
                    <img class="pooja" src="images/otherassets/Abhi.png" alt="ok">
                    <div class="per1">
                        <h1 class="p1"> <b>B.Sai Abhiram Reddy</b> </h1>
                        <h6>IIIT SRI CITY SOMOPHORE</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="dev1">
            <div class="ph1">
                <img class="pooja" src="images/otherassets/Sravan.png" alt="ok">
                <div class="per1">
                    <h1 class="p1"> <b>G.Sravan Kumar</b> </h1>
                    <h6>IIIT SRI CITY SOMOPHORE</h6>
                </div>
            </div>
            <div class="para1">
                <p>
                    <b><i>Previous Projects :</i> </b> RYTCROP : This project is done in JAVA. This helps the farmers to
                    know suitable crop for their land by providing us some details like soil, rainfall etc.
                    <br>
                    <b>Current Projects :</b>
                    Team Lead(Fotoflask) : This is a photographers website where they can upload photos and have many
                    other
                    features.
                </p>
            </div>

        </div>
        <div class="dev1">
            <div class="para1">
                <p>
                    <b><i>Previous Projects :</i> </b> RYTCROP : This project is done in JAVA. This helps the farmers to
                    know suitable crop for their land by providing us some details like soil, rainfall etc.
                    <br>
                    <b>Current Projects :</b>
                    Team Lead(Fotoflask) : This is a photographers website where they can upload photos and have many
                    other
                    features.
                </p>
            </div>
            <div class="ph1">
                <img class="pooja" src="images/otherassets/pavan.png" alt="ok">
                <div class="per1">
                    <h1 class="p1"> <b>L.Sai Pavan</b> </h1>
                    <h6>IIIT SRI CITY SOMOPHORE</h6>
                </div>
            </div>

        </div>
        <div class="dev1">
            <div class="ph1">
                <img class="pooja" src="images/otherassets/profile2.png" alt="ok">
                <div class="per1">
                    <h1 class="p1"> <b>Gautham</b> </h1>
                    <h6>IIIT SRI CITY SOMOPHORE</h6>
                </div>
            </div>
            <div class="para1">
                <p>
                    <b><i>Previous Projects :</i> </b> RYTCROP : This project is done in JAVA. This helps the farmers to
                    know suitable crop for their land by providing us some details like soil, rainfall etc.
                    <br>
                    <b>Current Projects :</b>
                    Team Lead(Fotoflask) : This is a photographers website where they can upload photos and have many
                    other
                    features.
                </p>
            </div>
        </div>
    </section>
    <section id="Content2">
        <div class="image-container2">
            <img src="images/otherassets/team.png" alt="ok" id="main-image2">
        </div>
        <nav class="navbar3">
            <ul class="list-item3">
                <li><a id="list-item-3-1" href="#">About US <span class="underline"></span></a></li>
                <li><a id="list-item-3-2" href="#">Our Team <span class="underline"></span></a></li>
                <li><a id="list-item-3-3" href="#">Users <span class="underline"></span></a></li>
                <li><a id="list-item-3-4" href="#">Future <span class="underline"></span></a></li>

            </ul>
        </nav>
    </section>
    <footer>
        <div class="logo2">
            <img src="images/otherassets/logo.png" alt="ok">
            <p class="para7">Click the nature and explore with us</p>
        </div>
        <div>
            <ul class="footer-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
            <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
            <div class="addr">
                <h3>Contact Us</h3>
                <ul>
                    <li><i class="fa fa-map-marker"></i> Sri City,Chittore</li>
                    <li><i class="fa fa-phone"></i> 9708765423</li>
                    <li><i class="fa fa-envelope"></i> info@myphotographywebsite.com</li>
                </ul>
            </div>
        </div>
        <p class="para8">&copy; 2023 My Photography Website</p>
    </footer>
    <script src="js/Ourteam.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
</body>

</html>