<!DOCTYPE html>
<html>
	<head>
		<title>SignIn/SignUp</title>
		<meta charset="utf-8">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap" rel="stylesheet">
		
		<link rel="stylesheet" href="css/signin-signup.css">
		<link rel="stylesheet" href="css/navbar.css">
	</head>
	<body>

		<%- include("layout/loadinganimation") %>

		<nav class="navbar navbar-expand-lg navbar-light">
			<div class="container-fluid">
				<label class="logo">
					<a href="/">FotoFlask</a>
				  </label>
			</div>
		</nav>

		<hr style="width:100%;">
		<div class="container desktop" id="container">
			<div class="form-container sign-up-container">			
				  <form id="f3" action="/signin-signup/signup" method="post">
				<div id="container3" class="carousel slide" data-bs-interval="false">
					<div class="carousel-inner">
						<div class="carousel-item active">							
								<!-- <form id="f2" action="#"> -->
								<div class="f2">
									<h1>Create Account</h1>
									<input type="text" placeholder="Profile name" name="profilename"/>
									<input type="text" placeholder="User name" name="username"/>
									<span id="error" style="color: red"></span>
									<input type="password" placeholder="Password" name = "password"/>
									<span id="error1" style="color: red"></span>
									<button data-bs-target="#container3" data-bs-slide="next" onclick="ValidateUsername();"> Next </button>								
								</div>
								<!-- </form>            						 -->
								
							</div>
							<div class="carousel-item">
								<div class="f3" >
									<!-- <form id="f3" action="/signin-signup/signup" method="post"> -->
									<h1>Enter Your Credentials</h1>
									<input type="email" placeholder="Email" name="email"/>							
									<!-- <input type="text" placeholder="User Id" name="user-id"/> -->
									<input type="text" placeholder="Mobile Nummber" name="mobilenumber" />
									<span class="dob">
										<label for="dob">Date of Birth</label>
										<input type="date" placeholder="Date of Birth" id="dob" name="dateofbirth"/>
										<span id="error2" style="color: red"></span>
									</span>
									<span>
										<button  data-bs-target="#container3" data-bs-slide="prev" > Back </button>
										<button data-bs-target="f3" type="submit">Sign Up</button>
									</span>		
							</div>							  
								<!-- </form> -->
						</div>
					</div>
				</form>
				</div>
			</div>
			<div class="form-container sign-in-container">
				<form id="f1" action="/signin-signup/signin" method="post">
					<h1>Sign in</h1>		
					<input type="text" placeholder="Username" name="username"/>
					<input type="password" placeholder="Password" name="password"/>
					<a href="#">Forgot your password?</a>
					<button>Sign In</button>
				</form>
			</div>
			<div class="overlay-container">
				<div class="overlay">
					<div class="overlay-panel overlay-left">
						<h1>Have an Account?</h1>
						<p>Use your existing account credentials to connect with us!</p>
						<button class="ghost" data-bs-target="#container3" data-bs-slide-to="0" id="signIn" onclick="changeGradient(270);resetform();$('#container3').carousel(0);">Sign In</button>
					</div>
					<div class="overlay-panel overlay-right">
						<h1>New Here?</h1>
						<p>Create an account and start journey your with us</p>
						<button class="ghost" id="signUp" onclick="changeGradient(90);resetform();">Sign Up</button>
					</div>
				</div>
			</div>
		</div>
	
	  
		<div id="container2" class="carousel slide mobile " data-bs-interval="false">
			<div class="carousel-inner">
			  <div class="carousel-item active">
				<div class="form-box sign-in-box">
					<form action="/signin-signup/signin" method="post">
					<h1>Sign in</h1>
						<input type="text" placeholder="Username" name="username"/>
						<input type="password" placeholder="Password" name="password"/>
						<div style="width: 100%; text-align: right; padding: 2%;"><a href="#">Forgot your password?</a></div>
						<button type="submit">Sign In</button>
						<p>Create a new account?<a  data-bs-target="#container2" data-bs-slide="next" id="signUp2" href="#" onclick="changeGradient(90);" ><bold> Sign Up</bold></a></p>                              
				  	</form>
				</div>
			  </div>
			  <div class="carousel-item">
				<div class="form-box sign-up-box b1">
				  <form action="#">
					<h1>Create Account</h1>
					<input form="mobile-signin-form" type="text" placeholder="Profile name" name="profilename"/>
					<input form="mobile-signin-form" type="text" placeholder="User name" name="username"/>
					<input form="mobile-signin-form" type="password" placeholder="Password" name="password"/>
					<button data-bs-target="#container2" data-bs-slide="next" name="nextbutton"> Next </button>
					<p>Already have an account?<a data-bs-target="#container2" data-bs-slide="prev" id="signIn2" href="#" onclick="changeGradient(270);" ><bold> Sign In</bold></a></p>                          
				</form>            
			</div>
		</div>
		<div class="carousel-item">
			<div class="form-box sign-up-box b2">
				<form id="mobile-signin-form" action="/signin-signup/signup" method="post">
					<h1>Enter Your Credentials</h1>
					<!-- <input type="text" placeholder="User Id" name="user-id"/> -->
							<input type="email" placeholder="Email" name="email"/>
						  <input type="text" placeholder="Mobile Nummber" name="mobilenumber" />
						  <span class="dob">
							  <label for="dob">Date of Birth</label>
							  <input type="date" placeholder="Date of Birth" id="dob" name="dateofbirth"/>
						  </span>
						  <span>
							  <button  data-bs-target="#container2" data-bs-slide="prev" onclick="changeGradient(90);"> Back </button>
							  <button type="submit">Sign Up</button>
						  </span>						  
				</form>
			</div>
		</div>
      	</div>
    </div>


		
		<script src="/js/signin-signup.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<script>
             $.holdReady(true);
        setTimeout(function () {
  
            // Setting a variable until
            // document.ready is called
            const myVar = "GFG";
            $.holdReady(false);
        }, 3000);
         $(document).ready(()=> {
            //Preloader
            preloaderFadeOutTime = 500;
            function hidePreloader() {
            var preloader = $('.spinner-wrapper_a');
            preloader.fadeOut(preloaderFadeOutTime);
            }
            hidePreloader();
            });
            </script>
	</body>
</html>

