<!DOCTYPE html>
<html>

<head>
    <title>User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/Users.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="navbar">
        <nav>
            <div class="logo">
                <img src="images/otherassets/logo.png" alt="ok">
            </div>
            <ul class="list-item">
                <li><a href="#">Home</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">About us</a></li>
            </ul>
        </nav>
    </header>

    
    <section id="Content" >
        <h1 class="title"><b>A Massive Rise
            </b></h1>
        <div class="image-container" >
            <img src="images/otherassets/bg1.png" alt="">
        </div>
        <nav class="navbar2">
            <ul class="list-item2">
                <li><a href="/Users">Users <span class="underline"></span></a></li>
                <li><a href="/Ourteam">Our Team <span class="underline"></span></a></li>
                <li><a href="/Future">Future <span class="underline"></span></a></li>
                <li><a href="/aboutfotoflask">About US <span class="underline"></span></a></li>
            </ul>
            
        </nav>
        <div class="button">
            <a href="#start" class="btn2">Get Started</a>
        </div>
    </section>

    <section id="start">
        <div class="container">
            <div class="split left">
              <h1>Premium</h1>
              <a href="#" class="btn">Buy Now</a>
            </div>
            <div class="split right">
              <h1>Log In</h1>
              <a href="#" class="btn">Sign In</a>
            </div>
          </div>
    </section>

    <section id="Users">
    <div class="counter-container">
        <i class="fa fa-circle-user fa-beat fa-3x"></i>
        <div class="counter" data-target="120"></div>
        <span>Users</span>
      </div>
  
      <div class="counter-container">
        <i class="fa-solid fa-cloud-arrow-up fa-beat fa-3x"></i>
        <div class="counter" data-target="50"></div>
        <span>Posts</span>
      </div>
  
      <div class="counter-container">
        <i class="fa fa-facebook fa-3x"></i>
        <div class="counter" data-target="75"></div>
        <span>Facebook Fans</span>
      </div>
    </section>


    <section id="Trending">
        <div class="background">
            <h1>Trending Posts</h1>
            <div class="container2">
                <div class="image">
                    <img src="images/otherassets/User.jpeg" data-scroll-zoom />
                </div>
                <div class="image">
                    <img src="images/otherassets/User.jpeg" data-scroll-zoom />
                </div>
                <div class="image">
                    <img src="images/otherassets/User.jpeg" data-scroll-zoom />
                </div>
                <div class="image">
                    <img src="images/otherassets/User.jpeg" data-scroll-zoom />
                </div>
            </div>
        </div>
    </section>

    <section id="Content2">
        <div class="image-container2">
            <img src="images/otherassets/user.jpeg" alt="ok" id="main-image2">
        </div>
        <nav class="navbar3">
            <ul class="list-item3">
                <li><a id="list-item-3-1" href="#">About US <span class="underline"></span></a></li>
                <li><a id="list-item-3-2" href="#">Our Team <span class="underline"></span></a></li>
                <li><a id="list-item-3-3" href="#">Users <span class="underline"></span></a></li>
                <li><a id="list-item-3-4" href="#">Future <span class="underline"></span></a></li>

            </ul>
        </nav>
    </section>
    <footer>
        <div class="logo2">
            <img src="images/otherassets/logo.png" alt="ok">
            <p class="para7">Click the nature and explore with us</p>
    </div>
            <div>
                <ul class="footer-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
            <div class="addr">
                <h3>Contact Us</h3>
                <ul>
                  <li><i class="fa fa-map-marker"></i> Sri City,Chittore</li>
                  <li><i class="fa fa-phone"></i> 9708765423</li>
                  <li><i class="fa fa-envelope"></i> info@myphotographywebsite.com</li>
                </ul>
            </div>
        </div>
            <p class="para8">&copy; 2023 My Photography Website</p>
    </footer>

    
    <script src="js/Users.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="https://kit.fontawesome.com/461a7cdc26.js" crossorigin="anonymous"></script>
    </body>