*{
    font-family: 'Livvic', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0 0.5vw;
    background-color: #DBE2EF;
}

@media (max-width:952px) {
    .leftsidebar{
        display: none;
    }
    .rightsidebar{
        display: none;
    }
    .maincontent {
        padding-left: 2vw;
        flex-basis: 98%;
        padding-bottom: 5vh;
    }
    .postcontainer{
        width: 100%;
        max-width: 100vh;
    }
}

@media (min-width:953px) {
    .leftsidebar{
        display: block;
    }
    .rightsidebar{
        display: block;
    }
    .maincontent {
        flex-basis: 45%;
    }
    .postcontainer{
        width: 100%;
    }
}




.usericon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.searchbox{
    background-color: #DBE2EF;
    width: 250px;
    border-radius: 20px;
    display:flex;
    align-items: center;
    padding: 0 15px;
}

.searchbox img{
    width: 18px;
}

.searchbox input{
    width:100%;
    background-color: transparent;
    padding:10px;
    outline:none;
    border:0;
}

.online{
    position:relative;
}

.online::after{
    content:'';
    width:7px;
    height:7px;
    border:2px solid green;
    border-radius: 50%;
    background-color: green;
    position:absolute;
    top:0;
    right:0;
}



.ccontainer{
    display:flex;
    justify-content: space-between;
    padding:1% 1vh;
    margin: 0;
    width: 97.5vw;
    
}

.leftsidebar{
    border-right: 1px solid #112D4E;
    background-color:#DBE2EF;
    flex-basis: 5%;
    position:sticky;
    overflow: scroll;
    padding-right: 1%;
    top:11vh;
    align-self: flex-start;
    height: 100vh;
    
}

.rightsidebar{
    background:#f1f1f1;
    flex-basis: 25%;
    position:sticky;
    overflow: scroll;
    max-height: 100vh;
    top: 10px;
    align-self: flex-start;
    padding: 20px;
    border-radius: 4px;
    
}


.implinks a{
    color: black;
    display: flex;
    text-decoration: none;
    align-items: center;
    margin: 3vh 0;
    color: rgb(72, 69, 69);
    width: fit-content;
    justify-content: center;
    align-items: center;
}



.implinks a .page-link-icon{
    width:25px;
    margin:10px;
}

.implinks a img{
    height: 3.5vh;
    width: 3.5vh;
}

.implinks{
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}


.sidebartitle{
    display: flex;
    height: 3vh;
    align-items: center;
    justify-content: space-between;
    margin: 0.2vh 0;
}
.sidebartitle h4{
    font-weight: 600;
    font-size: 18px;
}

.sidebartitle a{
    text-decoration: none;
    color: rgb(72, 69, 69);
    font-size: 14px;
}

.events-container{
    height: 25vh;
    overflow-y: scroll;
    width: inherit;
    margin: 0.5vh 0;
}

.eventdate{
    height: 50%;
    margin: 0;
}

/* .style-1::-webkit-scrollbar-track
{
	
	
	
} */

.style-1::-webkit-scrollbar
{
	width: 0px;
	
}

.style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
}

.events{
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 20px;
}

.leftevent{
    border-radius: 10px;
    height:50px;
    width:50px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position:relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.events p{
    font-size: 12px;
}

.events a{
    font-size: 12px;
    text-decoration: none;
}

.leftevent span{
    position: absolute;
    height:25px;
    bottom: 0;
    left:0;
    width:100%;
    background: #ccc;
    color:black ;
    font-size: 10px;
    padding:4px 0;
}


.sidebarads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.online-profiles{
    height: 30vh;
    overflow-y: scroll;
}


.onlinelist{
    display:flex;
    align-items: center;
    margin-bottom: 20px;

}

.onlinelist .online img{
    width:40px;
    border-radius: 50%;;
}

.onlinelist .online{
    width:40px;
    border-radius: 50%;
    margin-right: 15px;
}

.onlinelist .online::after{
    top:unset;
    bottom:5px;
}

.writepostcontainer{
    width:100%;
    background: rgb(225, 235, 243);
    border-radius: 6px;
    padding:20px;

}

.userprofile{
    display:flex;
    align-items: center;
}

.homepage-profile-link{
    text-decoration: none;
    color: inherit;
}

.homepage-profile-link:hover{
    text-decoration: underline;
}

.userprofile img{
    width:45px;
    border-radius: 50%;
    border: 1px solid #112D4E;
    margin-right: 10px;
}

.userprofile p{
    margin-bottom: -2px;
    font-weight: 500;

}

.userprofile small{
    font-size: 12px;
}

.postinputcontainer{
    padding-left:55px;
    padding-top:20px;
}

.postinputcontainer textarea{
    width:100%;
    border:0;
    outline:0;
    border-bottom: 1px solid #ccc;
    background: transparent;
}


.addpostlinks{
    display:flex;
    margin-top: 10px;
}

.addpostlinks a{
    display:flex;
    text-decoration: none;
    align-items: center;
    margin-right: 30px;
    font-size: 13px;
    color: black;
}

.addpostlinks a img{
    width: 20px;
    margin-right: 10px;
}

.postcontainer{
    width:100%;
    background: #f1f1f1;
    border-radius: 6px;
    padding:3% 1%;
    margin: 0 0 20px;

}

.posttext{
    display: flex;
    padding: 1% 3%;
    font-size: 15px;
}

.posttext p{
    margin: inherit;
}

.posttext a{
    text-decoration: none;
}

.posttags{
    flex-wrap: wrap;
    padding: 1% 3%;
    display: none;
}

.tabvisiblebtn{
    padding: 1% 3%;
}

.tabvisiblebtn-b{
    border: none;
    background-color: inherit;
}

.tabvisiblebtn-b:hover{
    cursor: pointer;

}

.max-chars{
    width: inherit;
    height: 4ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tagbutton{
    color: rgb(61, 61, 223);
    border: none;
    background-color: inherit;
}
.tagbutton:hover{
    cursor: pointer;
    font-weight: bold;
}

.postimage{
    width:100%;
    border-radius: 4px;
    margin: 10px 0;
}

.postrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
}

.activityicons{
    display: flex;
}

.activityicons div a{
    text-decoration: none;
    color: black;
}

.activityicons div a img{
    width:18px;
    margin-right:10px;

}

.activityicons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    margin-top: 8px;
}

.postactions{
    border: none;
}

.postactions:hover{
    cursor: pointer;
}

.postactions .likebtn{
    border: none;
    background-color: inherit;
}

.postactions .downloadbtn{
    float: right;
}

.postprofileicon img{
        width:30px;
        border-radius: 50%;
        margin-right:5px;

}


  .postdropdownbtn {
    background-color: inherit;
    color: #112D4E;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .postdropdown {
    float: right;
    position: relative;
    display: inline-block;
  }
  
  .postdropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .postdropdown-content a {
    color: #112D4E;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .postdropdown-content a:hover {background-color: #f39d34;}
  .postdropdown:hover .postdropdown-content {display: block;}
  .postdropdown:hover .postdropdownbtn {background-color: inherit;}


.no-following{
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.follow-btn{
    background-color: inherit; 
    border:none;
    border-radius: 2px;
}

.follow-btn :hover{
    cursor: pointer;
    background-color: #f1f1f1;
}