body{
    background-color: #DBE2EF;
    margin: 0 0.5vw;
}

/* PreLoader */



 /* Notification panel */

  hr{
    margin: 1%;
    padding: 0;
  }

 .new-panel{
    position: sticky;
    display: grid;
    place-items: center;
    top:0px;
    background: #f1f1f1;
    border-radius: 2%;
    max-height: 100vh;
    text-align: center;
 }

 .new-panel p{
  font-family: 'Livvic', sans-serif;
  font-weight: 500;
 }


 /* Post Section */
 @media(max-width:991px){
    .vertical-line{
        display: none;
    }
    .post-section{
        width: 100%;
    }
    .post-details{
        width: 100%;
    }
    .media-section{
      height: max-content;
      margin-bottom: 5vh;
        flex-direction: column;
        display: block;
    }
    .usercomments{
      overflow-y: scroll;
      height: 47.5vh;      
    }
    .comments-section{
      height: 70vh;
    }


 }
 @media(min-width:991px)
 {
  #follow-button{
    width: 80px;
  }
    .post-details{
      width:30%;
    }
    .media-section{
      height: 90vh;
      display: flex;
      flex-direction: row;
    }
    .post-section{
      width:70%;
    }
    .usercomments{
      overflow-y: scroll;
      height: 49.5vh;
    }
    .comments-section{
      height: 69vh;
    }
    .desc-comments{
      height: 63.5vh;
    }

 }


 .tabvisiblebtn{
  padding: 1% 3%;
}

.tabvisiblebtn-b{
  border: none;
  background-color: inherit;
}

.tabvisiblebtn-b:hover{
  cursor: pointer;

}


.posttags{
  flex-wrap: wrap;
  padding: 1% 3%;
  display: none;
}


 .homepage-profile-link{
  text-decoration: none;
  color: inherit;
}

.homepage-profile-link:hover{
  text-decoration: underline;
  color: inherit;
}

 .post{
    /* border: 2px solid #a4bbe7; */
    /* border-radius: 1%;
    box-shadow: 5px 5px 10px 2px #a4bbe7; */
    
    /* padding: 1%; */
    display: flex;
    user-select: none;   
    max-height: 88vh;
    object-fit: contain;
  }

  .post img{
    max-height: 87vh;
    border-radius: 10px;
    object-fit: contain;
  }

  .media-section{
    background-color: #f1f1f1;
    border-radius: 2%;
    box-shadow: 5px 5px 10px 2px #a4bbe7;
    
  }

  .post-section{
    display: flex;
    padding: 1%;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
  }

  .post-details{
    background-color: white;
  }

  .post-details hr{
    margin: 1% 1%;
  }

  .vertical-line{
    border-left: 1px solid #112D4E;
    margin: 1%;
  }

  .username-pic{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .user-details{
    /* align-items: end; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 9.5vh;
    position: relative;
    background-color: white;
    justify-content: space-between;
    /* text-align: left; */
    padding: 3%;
  }

  .user-details {
    padding-top: 2%;
    font-family: 'Livvic', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
  }

  .profile-link{
    color: #112D4E;
    text-decoration: none;
    
  }

  .profile-link:hover{
    color: #112D4E;
    text-decoration: underline;
  }


  .user-details .profile-pic-small{
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #112D4E;
    height: 50px;
    width:50px;
  }

  .comment-heading{
    height: 5vh;
    width: 100%;
    text-align: center;
    padding: 2%;
    font-size: medium;
    font-weight: 500
  }

  .comments-section{
    padding: 0 2%;
    
    background-color: white;
    border-radius: 5px;
  }

  .usercomments{
    
    border-radius: 5px 5px 0 0;
    background-color: white;
    padding: 2%;
  }

  .postcomment{
    border-radius: 0 0 5px 5px;
    height: 4.5vh;
    background-color: white;
    border-top: 1px solid hsl(212, 64%, 19%,0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6vh;
  }

  .commentpostbtn{
    color: #112D4E;
    border: none;
    background-color: inherit;
  }

  .postcomment .profile-pic-small{
    height: 5vh;
    width: 5vh;
    max-width: 5vw;
    max-height: 5vw;
    margin: 0 2px;
  }

  .commentform{
    width: calc(100% - 5vh);
    display: flex;
  }

  .commentinput{
    border: none;
    width: 100%;
    
  }

  .commentinput:focus-visible{
    outline: none;
    border: none;
  }

  .post-options{
    padding: 1%;
    user-select: none;
    position: absolute;
    display: table;
  }

  .post-options .like{
    display: table-cell;
    text-align: center;
    width: max-content;
    min-width: 100px;
    padding: 1%;
    
  }

  .post-options .like img {
    margin-left: 10%;
    height: 30px;
    width: 30px;
    display:inline;
  }

  .post-options .like p{
    width:min-content;
    display: inline-block;
    align-items: end;
    vertical-align: baseline;
    font-size: 20px;
  }

  .post-options .comment p{
    width:min-content;
    display: inline-block;
    align-items: end;
    vertical-align: baseline;
    font-size: 20px;
  }
  
  .post-options .comment{
    display: table-cell;
    text-align: center;
    padding: 1%;
    width: max-content;
    min-width: 100px;
    background-color: #DBE2EF;
  }

  .post-options .comment img {
    
    height: 30px;
    width: 30px;
  }





  
.postrow{
  display: flex;
  align-items: center;
  height: 9vh;
  justify-content: space-between;
  padding: 0 3%;
}

.activityicons{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.activityicons div a{
  text-decoration: none;
  color: black;
}

.activityicons div a img{
  width:18px;
  margin-right:10px;

}

.activityicons div{
  display: inline-flex;
  align-items: center;
}

.postactions{
  border: none;
  background-color: inherit;
}

.postactions:hover{
  cursor: pointer;
}

.postactions .likebtn{
  border: none;
  background-color: inherit;
}


.tagbutton{
  color: rgb(61, 61, 223);
  border: none;
  background-color: inherit;
}
.tagbutton:hover{
  cursor: pointer;
  font-weight: bold;
}

.max-chars{
  width: inherit;
  height: 4ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc-comments{
  overflow-y: scroll;
}