<div>
<div class="person">
    <div class="abcd">
        <a href="mailto:sasipoojyanth.m21@iiits.in"><img class="img2" src="/images/profilephotos/poojyanth.png" alt="ok"></a>
    <div class="mid">
    <a class="aaaaa" href="mailto:sasipoojyanth.m21@iiits.in"><i class="fa-solid fa-envelope fa-3x"></i></a>
    </div>
</div>      
<div class="">
    <p>
        <h1 class="p1"> <b>M.Poojyanth Reddy</b> </h1>
        <h6>IIIT SRI CITY SOMOPHORE</h6>
        <p class="per1">
            Graduating Bachelor's from IIIT SRI CITY.
            <br>
      <b><i>Previous Projects :</i> </b>  RYTCROP : This project is done in JAVA. This helps the farmers to 
know suitable crop for their land by providing us some details like soil, rainfall etc.
<br>
<b>Current Projects :</b> 
Team Lead(Fotoflask) : This is a photographers website where they can upload photos and have many other features.
        </p>
    </p>
</div>
</div>
<hr>

<div class="person">
    <div class="abcd">
        <a href="mailto:saiabhiramreddy.b21@iiits.in"><img class="img3" src="/images/profilephotos/Abhi.jpg" alt="ok"></a>
        <div class="mid2">
        <a class="aaaaa" href="mailto:saiabhiramreddy.b21@iiits.in"><i class="fa-solid fa-envelope fa-3x"></i></a>
        </div>
    </div>    
    <div class="">
    <p>
        <h1 class="p1"> <b>B.Sai Abhiram Reddy</b> </h1>
        <h6>IIIT SRI CITY SOMOPHORE</h6>
        <p class="per2">
            Graduating Bachelor's from IIIT SRI CITY.
            <br>
      <b><i>Previous Projects :</i> </b>  RYTCROP : This project is done in JAVA. This helps the farmers to 
know suitable crop for their land by providing us some details like soil, rainfall etc.
<br>
<b>Current Projects :</b> 
Web Dev(Fotoflask) : This is a photographers website where they can upload photos and have many other features.
        </p>
    </p>
</div>
</div>

<hr>
<div class="person">
        <div class="abcd">
            <a href="mailto:sravankumar.g21@iiits.in"><img class="img2" src="/images/profilephotos/Sravan.png" alt="ok"></a>
        <div class="mid">
        <a class="aaaaa" href="mailto:sravankumar.g21@iiits.in"><i class="fa-solid fa-envelope fa-3x"></i></a>
        </div>
    </div>  
    <p>
        <h1 class="p1"> <b>G.Sravan Kumar</b> </h1>
        <h6>IIIT SRI CITY SOMOPHORE</h6>
        <p class="per1">
            Graduating Bachelor's from IIIT SRI CITY.
            <br>
      <b><i>Previous Projects :</i> </b>  RYTCROP : This project is done in JAVA. This helps the farmers to 
know suitable crop for their land by providing us some details like soil, rainfall etc.
<br>
<b>Current Projects :</b> 
Web Dev(Fotoflask) : This is a photographers website where they can upload photos and 
have many other features.
        </p>
    </p>
</div>
<hr>
<div class="person">
    <div class="abcd">
        <a href="mailto:saipavan.l21@iiits.in"><img class="img3" src="/images/profilephotos/pavan.png" alt="ok"></a>
        <div class="mid2">
        <a class="aaaaa" href="mailto:saipavan.l21@iiits.in"><i class="fa-solid fa-envelope fa-3x"></i></a>
        </div>
    </div>    
    <p>
        <h1 class="p1"> <b>Sai Pavan</b> </h1>
        <h6>IIIT SRI CITY SOMOPHORE</h6>
        <p class="per2">
            Graduating Bachelor's from IIIT SRI CITY.
            <br>
      <b><i>Previous Projects :</i> </b>  IOMS : This project is done in JAVA. This helps the people to 
know stats of matchs ongoing and even the future scheduled matchs in olympics.
<br>
<b>Current Projects :</b> 
Back End Dev(Fotoflask) : This is a photographers website where they can upload photos and 
have many other features.
        </p>
    </p>
</div>
<hr>
<div class="person">
    <div class="abcd">
        <a href="mailto:gautham.s21@iiits.in"><img class="img2" src="/images/otherassets/profile2.png" alt="ok"></a>
        <div class="mid">
        <a class="aaaaa" href="mailto:gautham.s21@iiits.in"><i class="fa-solid fa-envelope fa-3x"></i></a>
        </div>
    </div>   
    <p>
        <h1 class="p1"> <b>Gautham</b> </h1>
        <h6>IIIT SRI CITY SOMOPHORE</h6>
        <p class="per1">
            Graduating Bachelor's from IIIT SRI CITY.
            <br>
      <b><i>Previous Projects :</i> </b>  Currency Conv : This project is done in JAVA. This helps the people to 
know the conversion value of currency when changed to another countries currency
<br>
<b>Current Projects :</b> 
Back End Dev(Fotoflask) : This is a photographers website where they can upload photos and 
have many other features.

        </p>
    </p>
</div>
</div>


