<div class="social">
    <span class="spanSpace">
      <a href="www.twitter.com"><i class="fab btn-outline-dark fa-twitter fa-2x"></i></a>
    </span>
    <span class="spanSpace">
      <a href="www.facebook.com"><i class="fab btn-outline-dark fa-facebook-f fa-2x"></i></a>
    </span>
    <span class="spanSpace">
      <a href="www.instagram.com"><i class="fab btn-outline-dark fa-instagram fa-2x"></i></a>
    </span>
    <span class="spanSpace">
      <a href="mailto:abhirambhavanam145@email.com"><i class="fas btn-outline-dark fa-envelope fa-2x"></i></a>
    </span>
  </div>