<div class="cube-wrapper">
    <div class="square-grid">
        <div class="square14 transparent square"></div>
        <div class="square15 transparent square"></div>
        <div class="square16 transparent square"></div>
        <div class="square17 transparent square"></div>
        <div class="square18 transparent square"></div>
        <div class="square19 transparent square"></div>
        <div class="square20 transparent square"></div>
        <div class="square21 transparent square"></div>
        <div class="square22 transparent square"></div>
        <div class="square23 transparent square"></div>
        <div class="square24 transparent square"></div>
        <div class="square25 transparent square"></div>
        <div class="square26 transparent square"></div>
        <div class="square27 transparent square"></div>
        <div class="square13 transparent square"></div>
        <div class="square14 transparent square"></div>
        <div class="square15 transparent square"></div>
        <div class="square16 transparent square"></div>
        <div class="square17 transparent square"></div>
        <div class="square18 square"></div>
        <div class="square19 square"></div>
        <div class="square20 square"></div>
        <div class="square21 square"></div>
        <div class="square22 transparent square"></div>
        <div class="square23 transparent square"></div>
        <div class="square24 square"></div>
        <div class="square25 square"></div>
        <div class="square26 transparent square"></div>
        <div class="square12 square"></div>
        <div class="square13 square"></div>
        <div class="square14 square"></div>
        <div class="square15 square"></div>
        <div class="square16 square"></div>
        <div class="square17 square"></div>
        <div class="square18 square"></div>
        <div class="square19 square"></div>
        <div class="square20 square"></div>
        <div class="square21 square"></div>
        <div class="square22 square"></div>
        <div class="square23 square"></div>
        <div class="square24 square"></div>
        <div class="square25 square"></div>
        <div class="square11 square"></div>
        <div class="square12 square"></div>
        <div class="square13 square"></div>
        <div class="square14 square"></div>
        <div class="square15 square"></div>
        <div class="square16 square"></div>
        <div class="square17 square"></div>
        <div class="square18 square"></div>
        <div class="square19 square"></div>
        <div class="square20 square"></div>
        <div class="square21 transparent square"></div>
        <div class="square22 transparent square"></div>
        <div class="square23 square"></div>
        <div class="square24 square"></div>
        <div class="square10 square"></div>
        <div class="square11 square"></div>
        <div class="square12 square"></div>
        <div class="square13 square"></div>
        <div class="square14 square"></div>
        <div class="square15 square"></div>
        <div class="square16 transparent square"></div>
        <div class="square17 transparent square"></div>
        <div class="square18 square"></div>
        <div class="square19 square"></div>
        <div class="square20 square"></div>
        <div class="square21 square"></div>
        <div class="square22 square"></div>
        <div class="square23 square"></div>
        <div class="square9 square"></div>
        <div class="square10 square"></div>
        <div class="square11 square"></div>
        <div class="square12 square"></div>
        <div class="square13 square"></div>
        <div class="square14 transparent square"></div>
        <div class="square15 square"></div>
        <div class="square16 square"></div>
        <div class="square17 transparent square"></div>
        <div class="square18 square"></div>
        <div class="square19 square"></div>
        <div class="square20 square"></div>
        <div class="square21 square"></div>
        <div class="square22 square"></div>
        <div class="square8 square"></div>
        <div class="square9 square"></div>
        <div class="square10 square"></div>
        <div class="square11 square"></div>
        <div class="square12 transparent square"></div>
        <div class="square13 square"></div>
        <div class="square14 square"></div>
        <div class="square15 square"></div>
        <div class="square16 square"></div>
        <div class="square17 transparent square"></div>
        <div class="square18 square"></div>
        <div class="square19 square"></div>
        <div class="square20 square"></div>
        <div class="square21 square"></div>
        <div class="square7 square"></div>
        <div class="square8 square"></div>
        <div class="square9 square"></div>
        <div class="square10 square"></div>
        <div class="square11 transparent square"></div>
        <div class="square12 square"></div>
        <div class="square13 square"></div>
        <div class="square14 square"></div>
        <div class="square15 square"></div>
        <div class="square16 transparent square"></div>
        <div class="square17 square"></div>
        <div class="square18 square"></div>
        <div class="square19 square"></div>
        <div class="square20 square"></div>
        <div class="square6 square"></div>
        <div class="square7 square"></div>
        <div class="square8 square"></div>
        <div class="square9 square"></div>
        <div class="square10 square"></div>
        <div class="square11 transparent square"></div>
        <div class="square12 square"></div>
        <div class="square13 square"></div>
        <div class="square14 transparent square"></div>
        <div class="square15 square"></div>
        <div class="square16 square"></div>
        <div class="square17 square"></div>
        <div class="square18 square"></div>
        <div class="square19 square"></div>
        <div class="square5 square"></div>
        <div class="square6 square"></div>
        <div class="square7 square"></div>
        <div class="square8 square"></div>
        <div class="square9 square"></div>
        <div class="square10 square"></div>
        <div class="square11 transparent square"></div>
        <div class="square12 transparent square"></div>
        <div class="square13 square"></div>
        <div class="square14 square"></div>
        <div class="square15 square"></div>
        <div class="square16 square"></div>
        <div class="square17 square"></div>
        <div class="square18 square"></div>
        <div class="square4 square"></div>
        <div class="square5 square"></div>
        <div class="square6 square"></div>
        <div class="square7 square"></div>
        <div class="square8 square"></div>
        <div class="square9 square"></div>
        <div class="square10 square"></div>
        <div class="square11 square"></div>
        <div class="square12 square"></div>
        <div class="square13 square"></div>
        <div class="square14 square"></div>
        <div class="square15 square"></div>
        <div class="square16 square"></div>
        <div class="square17 square"></div>
        <div class="square3 square"></div>
        <div class="square4 square"></div>
        <div class="square5 square"></div>
        <div class="square6 square"></div>
        <div class="square7 square"></div>
        <div class="square8 square"></div>
        <div class="square9 square"></div>
        <div class="square10 square"></div>
        <div class="square11 square"></div>
        <div class="square12 square"></div>
        <div class="square13 square"></div>
        <div class="square14 square"></div>
        <div class="square15 square"></div>
        <div class="square16 square"></div>
    </div>
    </div>

    <script>
        $.holdReady(true);
    setTimeout(function () {

        // Setting a variable until
        // document.ready is called
        const myVar = "GFG";
        $.holdReady(false);
    }, 2000);
     $(document).ready(()=> {
        //Preloader
        preloaderFadeOutTime = 500;
        function hidePreloader() {
        var preloader = $('.cube-wrapper');
        preloader.fadeOut(preloaderFadeOutTime);
        }
        hidePreloader();
        });
      </script>