<link rel="stylesheet" href="css/search.css"/>
<div class="search">
    <input type="text" class="input" placeholder="Search..." id="#query">
    <button class="searchbtn">
      <i class="fas fa-search"></i>
    </button>
  </div>
  <script src="js/search.js"></script>